<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Criar Task</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>
		<h1>Criar Task</h1>
		<div style="border: 1px solid black"> <!-- estilo "chumbado", deveria estar em um CSS -->
			<div style="color: red"><!-- estilo chumbado no código, deveria estar em um CSS -->
				<span th:text="${msg}"></span><!-- mensagem de erro vai aqui -->
			</div>
			
			<form th:action="@{/tasks/create-task-action}" th:object="${taskData}" method="POST">
				<div>
					<label for="nome">Name:</label>
					<input type="text" th:field="*{name}" />
				</div>
				<div class="button">
					<button type="submit">Login</button>
				</div>
			</form>
		</div>
	</body>
</html>


